nav {
  background-color: #37A8EA;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: inherit;
  padding: 15px;
}

/* menus login|register */

nav ul li .login{
  margin-left: 930px;
 
}
nav ul li .login, nav ul li .espacio, nav ul li .register{
    font-size: 13px;
    padding: 0px;
}

.loginm{
    display: none;
}

#cerrarl {
  position: absolute;
  top: 27%;
  right: 37.8%;
  z-index: 99;
}

#cerrarr{
  position: absolute;
  top: 7%;
  right: 37.8%;
  z-index: 99;
}

.seleccionado {
  background-color: white;
  color: black;
}

/* login.jsp */
body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

.box h1 {
  position: relative;
  top: -15px;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: greenyellow;
}

.box input[type = "text"], .box input[type ="password"] {
  background: none;
  display: block;
  margin: 20px auto;
  border: 1px solid #222;
  padding: 10px 10px;
  width: 200px;
}

.box input[type = "submit"] {
  width: 100px;
  margin-bottom: 15px;
}

.buttom-text {
  font-size: .875em;
  padding: 8px;
}

.buttom-text a {
  text-decoration: none;
  color: blue;
}

/* register.jsp */

.boxr h1 {
  position: relative;
  top: -15px;
}



.boxr input[type = "text"], .boxr input[type ="password"] {
  background: none;
  display: block;
  margin: 20px auto;
  border: 1px solid #222;
  padding: 10px 10px;
  width: 200px;
}

.boxr input[type = "submit"] {
  width: 100px;
  margin-bottom: 15px;
}

.buttom-text-r {
  font-size: .875em;
  padding: 8px;
}

.buttom-text-r a {
  text-decoration: none;
  color: blue;
}

/* prestamos.jsp */

.boxp a {
    text-decoration: none;
    color: green;
}

