nav {
  background-color: #37A8EA;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: inherit;
  padding: 15px;
}

/* menus login|register */

nav ul li .login{
  margin-left: 928px;
 
}
nav ul li .login, nav ul li .espacio, nav ul li .register{
    font-size: 13px;
    padding: 0px;
}

.loginm{
    display: none;
}

#cerrarl {
  position: absolute;
  top: 27%;
  right: 37.8%;
  z-index: 99;
}

#cerrarr{
  position: absolute;
  top: 7%;
  right: 37.8%;
  z-index: 99;
}

.seleccionado {
  background-color: white;
  color: black;
}

/* login.jsp */
body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

.box h1 {
  position: relative;
  top: -15px;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: greenyellow;
  z-index: 4;
}

.box input[type = "text"], .box input[type ="password"] {
  background: none;
  display: block;
  margin: 20px auto;
  border: 1px solid #222;
  padding: 10px 10px;
  width: 200px;
}

.box input[type = "submit"] {
  width: 100px;
  margin-bottom: 15px;
}

.buttom-text {
  font-size: .875em;
  padding: 8px;
}

.buttom-text a {
  text-decoration: none;
  color: blue;
}

/* register.jsp */

.boxr h1 {
  position: relative;
  top: -15px;
}



.boxr input[type = "text"], .boxr input[type ="password"] {
  background: none;
  display: block;
  margin: 20px auto;
  border: 1px solid #222;
  padding: 10px 10px;
  width: 200px;
}

.boxr input[type = "submit"] {
  width: 100px;
  margin-bottom: 15px;
}

.buttom-text-r {
  font-size: .875em;
  padding: 8px;
}

.buttom-text-r a {
  text-decoration: none;
  color: blue;
}

/* prestamos.jsp */

.boxp a {
    text-decoration: none;
    color: green;
}

/* solicitarprestamo.jsp*/

.prestamo{
    margin: auto;
    width: 90%;
}


#prestamo{
  overflow: hidden;
}

#left{
    float: left;
    padding: 10px;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    width: 40%;
/*    background-color: black;*/
    margin-left: 5%;
}

.txt{
  width: 96.5%;
  position: absolute;
  transition: all 0.3s;
  transform: scale(1);
  opacity: 0;
  margin-top: 1.5%;
  z-index: 1;
}

.txt h2{
  color: #FFF;
  text-align: center;
  font-weight: bold;
}

.txt p{
  color: #FFF;
  padding: 5px 5px;
  text-align: justify;
  font-weight: bold;
  
}

/*------------------------------------------------------*/
#left::before {
  display: flex;
  content: "";
  position: absolute;
  width: 95%;
  margin-left: 2%;
  margin-top: 2%;
  height: 6px;
  background: #FFF;
  transition: all 0.2s;
  z-index: 2;
 }

 #left::after {
  display: flex;
  content: "";
  position: absolute;
  width: 95%;
  margin-left: 2%;
  margin-bottom: 2%;
  height: 6px;
  background: #FFF;
  transition: all 0.2s;
  z-index: 2;
 }
 
 #left::before{left: -101%; top: 1%;}
 #left::after{left: 101%; bottom:1%;}
 
 #left:hover::before{
  left: 3px;
 }
 #left:hover::after{
  left: 3px;
 }
 
 #left:hover .txt{
  transform: scale(1);
  opacity: 1;
 }

#right{
    float: right;
    padding: 10px;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    width: 40%;
    margin-right: 5%;
}

.txt2{
  width: 96.5%;
  position: absolute;
  transition: all 0.3s;
  transform: scale(1);
  opacity: 0;
  margin-top: 1.5%;
  z-index: 1;
}

.txt2 h2{
  color: #FFF;
  text-align: center;
  font-weight: bold;
}
.txt2 p{
  color: #FFF;
  padding: 5px 5px;
  text-align: justify;
  font-weight: bold;
}

#right::before {
  display: flex;
  content: "";
  position: absolute;
  width: 95%;
  margin-left: 2%;
  margin-top: 2%;
  height: 6px;
  background: #FFF;
  transition: all 0.2s;
  z-index: 2;
 }

 #right::after {
  display: flex;
  content: "";
  position: absolute;
  width: 95%;
  margin-left: 2%;
  margin-bottom: 2%;
  height: 6px;
  background: #FFF;
  transition: all 0.2s;
  z-index: 2;
 }
 
 #right::before{left: -101%; top: 1%;}
 #right::after{left: 101%; bottom:1%;}
 
 #right:hover::before{
  left: 3px;
 }
 #right:hover::after{
  left: 3px;
 }

 #right:hover .txt2{
  transform: scale(1);
  opacity: 1;
 }
 
.prestamop p{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

/* solicitarmiprestamo.jsp menu prestamoestudiante*/

.prestamo-estudiante{
    display: none;
    position: absolute;
    top: 30%;
    background-color: #37A8EA;
    z-index: 90;
    width: 40%;
    right: 5%;
}

.prestamo-estudiante h1{
    text-align: center;
}

.prestamo-estudiante .pe{
    padding: 5px;
}

.prestamo-estudiante .pe input{
    margin-right: 15px;
    margin-bottom: 10px;
}

.prestamo-estudiante .pe label{
    margin-right: 10px;
}

#cerrarPE {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 99;
}

.prestamo-estudiante input[type="submit"]{
    position: relative;
    left: 40%;
    text-align: center;
}

/* solicitarmiprestamo.jsp menu prestamo-personal */

.prestamo-personal{
    display: none;
    position: absolute;
    top: 30%;
    background-color: red;
    z-index: 90;
    width: 40%;
    left: 5%;

}
.prestamo-personal h1{
    text-align: center;
}
.prestamo-personal .pp{
    padding: 5px;
}
.prestamo-personal .pp input{
    margin-right: 15px;
    margin-bottom: 10px;
}
.prestamo-personal .pp label{
    margin-right: 10px;
}

#cerrarPP {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 99;
}
.prestamo-personal input[type="submit"]{
    position: relative;
    left: 40%;
    text-align: center;
}
/* Rango de Prestamo-Personal*/
#rangeValuep, #rangeValuee{
    position: absolute;
    width: 50px;
    box-sizing: border-box;
    background: #FFF;
    text-align: center;
    top: 4px;
    left: 90%;
}
.rangev label{
    position: relative;
    top: 4px;
}

.rangev{
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

#rangeValuep:before, #rangeValuee:before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    left: -5px;
    width: 10px;
    height: 10px;
    background: #FFF;    
}

.range{
    width: 30%;
    height: 2px;
    background: black;
    -webkit-appearance: none;
    outline: none;
    border-radius: 2px;
    
}

.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: skyblue;
}

